@model WEB_APP.ViewModels.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}
<h1>@Model.Employee.Id</h1>
<h1>@Model.Employee.Name</h1>
<h1>@Model.Employee.Email</h1>
<h1>@Model.Employee.Department</h1>


@section CustomScripts
{
    <script src="~/js/CustomScript.js"></script>
}
